{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link href="{{ asset('styles/menu.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div id="containerHome">

        <div id="top">
            <span id="top-main-text"> Savor the Flavor, Share the Joy: Our Pizza, <span id="perfect-moment">Your Perfect Moment! </span><br><br><span id="order-now">Order now!</span></span>
            <img id="top-main-pizza" src="{{ asset('images/main_pizza.png') }}" alt="pizza">
        </div>

        <div id="main-text-div">
            <span id="main-text">Our bestsellers</span>
        </div>

		<div id="main">
			{% for productFind in products %}
				<div id="box">
					<span class="main-pizza-tekst">
						{{productFind.name}}</span>
					<br>
					<img class="main-pizza-image" src="{{ asset('images/products/' ~ productFind.imageName) }}"/>

					<br><br>
					<div id="div-main-pizza-description">
						<span class="main-pizza-description"> {{ productFind.description }}</span>
					</div>
					<br><br><br>
				    <span class="add-to-cart"
          data-productid="{{ productFind.id }}"
          data-small="{{ productFind.price.priceBruttoSmall|serialize(format = 'json') }}"
          data-medium="{{ productFind.price.priceBruttoMedium|serialize(format = 'json') }}"
          data-large="{{ productFind.price.priceBruttoLarge|serialize(format = 'json') }}">Add to cart</span>
					<br>
				</div>
			{% endfor %}
		</div>

        {# <div id="main">
            <br>
            <br>
            <div id="boxHome">
                <span class="main-pizza-tekst">Pizza1</span>
                <br>
                <img class="main-pizza-image" src="images/pizza1.png"></img>
                <br>
                <div id="div-main-pizza-description">
                <span class="main-pizza-description">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                    Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem 
                </span>
            </div>
                <br><br><br>
                <span id="AddToCart" class="add-to-cart">Add to cart</span>
                <br>
            </div>
            <div id="boxHome">
                <span class="main-pizza-tekst">Pizza2</span>
                <br>
                <img class="main-pizza-image" src="images/pizza2.png"></img>
                <br>
                <div id="div-main-pizza-description">
                    <span class="main-pizza-description">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem 
                    </span>
                </div>
                <span class="main-pizza-description">Lorem ipsum</span>
                <br><br><br>
                <span id="AddToCart" class="add-to-cart">Add to cart</span>
                <br>
            </div>
            <div id="boxHome">
                <span class="main-pizza-tekst">Pizza3</span>
                <br>
                <img class="main-pizza-image" src="images/pizza3.png"></img>
                <br>
                <div id="div-main-pizza-description">
                    <span class="main-pizza-description">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem 
                    </span>
                </div>
                <span class="main-pizza-description">Lorem ipsum</span>
                <br><br><br>
                <span id="AddToCart" class="add-to-cart">Add to cart</span>
                <br>
            </div>
        </div> #}

        <br><br><br>
        <div id="bottom">
            <span id="Our-story">Our-story</span>
            <br>
            <span id="About-us">About us</span>
            <br><br>
            <span id="Bottom-text">
            Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem 
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem 
                    </span>
        </div>
        
<br><br><br><br>
        <div id="Contact">
            <span id="Contact-us">Contact us</span>
            <br><br>
            <span id="Phone-number">+48 111 111 111</span>
            <br><br><br><br><br><br><br><br>
        </div>

    </div>    

    {% for productFind in products %}
<div class="js-products-price"
    data-small="{{ productFind.price.priceBruttoSmall|serialize(format = 'json') }}"
    data-medium="{{ productFind.price.priceBruttoMedium|serialize(format = 'json') }}"
    data-large="{{ productFind.price.priceBruttoLarge|serialize(format = 'json') }}"
>
</div>
{% endfor %}

	{% for ingredientFind in ingredients %}
<div class="js-ingredients"
    data-ingredient="{{ ingredientFind.ingredient|serialize(format = 'json') }}"
    data-pricebrutto="{{ ingredientFind.priceBrutto|serialize(format = 'json') }}"
    data-category="{{ ingredientFind.category|serialize(format = 'json') }}"
>
</div>
  
  {% endfor %}

    <script src="{{ asset('js/Menu.js') }}">


      </script> 
    {# <script>
        var ingredients = [
        {% for ingredient in ingredients %}
            {
                ingredient: "{{ ingredient.ingredient }}",
                priceNetto: {{ ingredient.priceNetto }},
                priceBrutto: {{ ingredient.priceBrutto }},
                vat: {{ ingredient.vat }},
                category: "{{ ingredient.category }}"
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ];
      

</script> #}
{% endblock %}
