{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('styles/menu.css') }}" rel="stylesheet">
	<link href="{{ asset('styles/custom.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
	<div style="margin: 0 auto; text-align: center;">
		{{ form_start(articleForm) }}
		{{ form_widget(articleForm.browse_field, {'attr': {'style':'width: 20%; height: 50px; display: inline-block; font-size: 20px;'}}) }}
		<button type="submit" class="btn btn-danger mb-2 custom-button" style="display: inline-block; height: 50px; font-size: 16px;">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
			</svg>
		</button>

		{{ form_end(articleForm) }}
		{% set box = 1 %}
	</div>
	<div id="container">
		<div id="main">
			{% for productFind in products %}
				<div id="box">
					<span class="main-pizza-tekst">
						{{productFind.name}}</span>
					<br>
					<img class="main-pizza-image" src="{{ asset('images/products/' ~ productFind.imageName) }}"/>

					<br><br>
					<div id="div-main-pizza-description">
						<span class="main-pizza-description">
							{{ productFind.description }}</span>
					</div>
					<br><br><br>
					<span class="add-to-cart" data-productid="{{ productFind.id|serialize(format = 'json') }}" data-small="{{ productFind.price.priceBruttoSmall|serialize(format = 'json') }}" data-medium="{{ productFind.price.priceBruttoMedium|serialize(format = 'json') }}" data-large="{{ productFind.price.priceBruttoLarge|serialize(format = 'json') }}">Add to cart</span>
					<br>
				</div>
			{% endfor %}
		</div>
	</div>

		{% for ingredientFind in ingredients %}
<div class="js-ingredients"
    data-ingredientid="{{ ingredientFind.id|serialize(format = 'json') }}"
    data-ingredient="{{ ingredientFind.ingredient|serialize(format = 'json') }}"
    data-pricebrutto="{{ ingredientFind.priceBrutto|serialize(format = 'json') }}"
    data-category="{{ ingredientFind.category|serialize(format = 'json') }}"
>
</div>

{% endfor %}

	<script type="module" src="{{ asset('js/Menu.js') }}"></script>
{% endblock %}
