{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col" class="col-md-4 text-center fs-5">Price</th>
					<th scope="col" class="col-md-4 text-center fs-5">Pizza name</th>
					<th scope="col" class="col-md-4 text-center fs-5">Size</th>
					<th scope="col" class="col-md-4 text-center fs-5">Amount Products</th>
					<th scope="col" class="col-md-4 text-center fs-5">Ingredient name</th>
					<th scope="col" class="col-md-4 text-center fs-5">Amount Ingredients</th>
				</tr>
			</thead>
			<tbody>
				{% for orderItem in order %}
					<tr>
						<td class="col-md-4">
							<div class="product-container p-3 text-center fs-5">
								<span>{{ orderItem.orderPriceBrutto }}</span>
							</div>
						</td>
						{% for OrderProduct in orderItem.OrderProduct %}
							<td class="col-md-4">
								<div class="product-container p-3 text-center fs-5">
									<span>{{ OrderProduct.product.name }}</span>
								</div>
							</td>
							<td class="col-md-4">
								<div class="product-container p-3 text-center fs-5">
									<span>{{ OrderProduct.size}}</span>
								</div>
							</td>
							<td class="col-md-4">
								<div class="product-container p-3 text-center fs-5">
									<span>{{ OrderProduct.amountProducts}}</span>
								</div>
							</td>
						{% endfor %}

						{% for OrderIngredient in orderItem.OrderIngredient %}
							<td class="col-md-4">
								<div class="product-container p-3 text-center fs-5">
									<span>{{ OrderIngredient.Ingredient.ingredient }}</span>
								</div>
							</td>

							<td class="col-md-4">
								<div class="product-container p-3 text-center fs-5">
									<span>{{ OrderIngredient.amountIngredient }}</span>
								</div>
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
