{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('styles/shoppingCart.css') }}" rel="stylesheet">
	<link href="{{ asset('styles/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container" style="margin-bottom: 50px">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						{% for userItem in userek %}

							{% set totalPriceForUser = 0 %}

								{% for orderItem in userItem.Orders %}

								{% set totalPriceForUser = totalPriceForUser + orderItem.orderPriceBrutto %}
									<div class="mb-4">
									
									 {% for OrderProduct in orderItem.OrderProduct %}
										<div class="text-center">
											<h4 class="card-title">{{ OrderProduct.product.name }}</h4>
											<span>Time:
												{{ orderItem.Date|date('H:i:s') }}</span>
										</div>
										<div class="text-center fs-5" style="margin-top: 1%">
											<p>Size:
												{{ OrderProduct.size }}</p>
											<p>Amount:
												{{ OrderProduct.amountProducts }}</p>
										</div>
									{% endfor %}
									{% for OrderIngredient in orderItem.OrderIngredient %}
										<div class="text-center fs-5">
											<p>{{ OrderIngredient.Ingredient.ingredient }}:
												{{ OrderIngredient.amountIngredient }}</p>
										</div>
									{% endfor %}


									<div class="text-center" style="margin-top: 20px">
										<span style="margin-right: 4px;">Order price:</span>
										<h5 class="card-title" style="margin-right: 4px; margin-top: 1%">{{ orderItem.orderPriceBrutto }}
											zł</h5>
									</div>
								</div>
								<div class="text-center fs-5">
									{% if loop.last %}
										<hr>
										<h4>Data for delivery:</h4>
										Email:
										{{ orderItem.user.email }}
										<br>
										Phone number:
										{{ orderItem.user.phoneNumber }}
									</div>
									<br>

									<div class="confirm-order">
										<a href="{{ path('delete_order', {'id': orderItem.user.id}) }}">Confirm order:
											{{totalPriceForUser}}
											zł</a>
									</div>

								{% endif %}

								<hr>

							{% endfor %}
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="total-price">
		{{amountOrder}}
		Total amount:
		{{totalPrice}}
		zł
	</div>
{% endblock %}
