{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link href="{{ asset('styles/adminPanel.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div style="margin: 0 auto; text-align: center;">
		{{ form_start(articleForm) }}
		{{ form_widget(articleForm.browse_field, {'attr': {'style':'width: 20%; height: 50px; display: inline-block; font-size: 20px;'}}) }}
		<button type="submit" class="btn btn-danger mb-2 custom-button" style="display: inline-block; height: 50px; font-size: 16px;">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
			</svg>
		</button>

		{{ form_end(articleForm) }}


	</div>


	<div class="my-3 text-center">
    <a href="{{ path('create-product')}}" class="btn btn-danger text-center fs-5">{{ 'AddProduct'|trans }}</a>
    <a href="{{ path('create-ingredient')}}" class="btn btn-danger text-center fs-5">{{ 'AddIngredient'|trans }}</a>
    <a href="{{ path('ingredient-list')}}" class="btn btn-danger text-center fs-5">{{ 'ShowIngredient'|trans }}</a>
</div>

<div class="container">
    <table class="table">
        <!-- Your table content here -->

        <thead style="width: 400px; height: auto;">
            <tr>
                <th scope="col" class="col-md-4 text-center fs-5">{{ 'Name'|trans }}</th>
                <th scope="col" class="col-md-4 text-center fs-5">{{ 'Description'|trans }}</th>
                <th scope="col" class="col-md-4 text-center fs-5">{{ 'PriceNettoSmall'|trans }}</th>
                <th scope="col" class="col-md-4 text-center fs-5">{{ 'PriceBruttoSmall'|trans }}</th>
                <th scope="col" class="col-md-4 text-center fs-5">{{ 'VATSmall'|trans }}</th>
                <th scope="col" class="col-md-4 text-center fs-5">{{ 'PriceNettoMedium'|trans }}</th>
                <th scope="col" class="col-md-4 text-center fs-5">{{ 'PriceBruttoMedium'|trans }}</th>
                <th scope="col" class="col-md-4 text-center fs-5">{{ 'VATMedium'|trans }}</th>
                <th scope="col" class="col-md-4 text-center fs-5">{{ 'PriceNettoLarge'|trans }}</th>
                <th scope="col" class="col-md-4 text-center fs-5">{{ 'PriceBruttoLarge'|trans }}</th>
                <th scope="col" class="col-md-4 text-center fs-5">{{ 'VATLarge'|trans }}</th>
                <th scope="col" class="col-md-4 text-center fs-5">{{ 'ImageName'|trans }}</th>
            </tr>
        </thead>

        <tbody>
            {% for productFind in product %}
                <tr>
                    <td class="col-md-4">
                        <div class="product-container p-3 text-center fs-5">
                            <span>{{ productFind.name }}</span>
                        </div>
                    </td>

                    <td class="col-md-4">
                        <div class="product-container p-3 text-center fs-5">
                            <span>{{ productFind.description }}</span>
                        </div>
                    </td>

                    <td class="col-md-4">
                        <div class="product-container p-3 text-center fs-5">
                            <span>{{ productFind.price.priceNettoSmall }}</span>
                        </div>
                    </td>

                    <td class="col-md-4">
                        <div class="product-container p-3 text-center fs-5">
                            <span>{{ productFind.price.priceBruttoSmall }}</span>
                        </div>
                    </td>

                    <td class="col-md-4">
                        <div class="product-container p-3 text-center fs-5">
                            <span>{{ productFind.price.vatSmall }}</span>
                        </div>
                    </td>

                    <td class="col-md-4">
                        <div class="product-container p-3 text-center fs-5">
                            <span>{{ productFind.price.priceNettoMedium }}</span>
                        </div>
                    </td>

                    <td class="col-md-4">
                        <div class="product-container p-3 text-center fs-5">
                            <span>{{ productFind.price.priceBruttoMedium }}</span>
                        </div>
                    </td>

                    <td class="col-md-4">
                        <div class="product-container p-3 text-center fs-5">
                            <span>{{ productFind.price.vatMedium }}</span>
                        </div>
                    </td>

                    <td class="col-md-4">
                        <div class="product-container p-3 text-center fs-5">
                            <span>{{ productFind.price.priceNettoLarge }}</span>
                        </div>
                    </td>

                    <td class="col-md-4">
                        <div class="product-container p-3 text-center fs-5">
                            <span>{{ productFind.price.priceBruttoLarge }}</span>
                        </div>
                    </td>

                    <td class="col-md-4">
                        <div class="product-container p-3 text-center fs-5">
                            <span>{{ productFind.price.vatLarge }}</span>
                        </div>
                    </td>

						<td class="col-md-4">
							<div class="product-container p-3 text-center fs-5">
								<span>{{ productFind.imageName }}</span>
							</div>
						</td>

							<td class="col-md-4">
								<div class="my-3 text-center">
									<a href="{{ path('edit', {'id': productFind.id}) }}" class="btn btn-danger text-center fs-5">Edit</a>
								</div>
							</td>

							<td class="col-md-4">
								<div class="my-3 text-center fs-5">
									<a href="{{ path('delete', {'id': productFind.id}) }}" class="btn btn-danger text-center fs-5">Delete</a>
								</div>
							</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
