{% block stylesheets %}
	<link href="{{ asset('styles/topbar.css') }}" rel="stylesheet">
{% endblock %}

<div>
	<ul>
		<li>
			<a href="{{ path('ui_home') }}" class="nav" id='Logo'>Pizza</a>
		</li>
		<li>
			<a href="{{ path('ui_home') }}" class="nav" id='home'>Home</a>
		</li>
		<li>
			<a href="{{ path('ui_home') }}" class="nav" id='home'>Menu</a>
		</li>
		<li>
			<a href="{{ path('list') }}" class="nav" id='Menu'>Products</a>
		</li>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<li>
				<a href="{{ path('ui_account') }}" class="nav-right">Your Account</a>
			</li>
			<li>
				<a href="{{ path('logout') }}" class="nav-right" id="Logout">Log out</a>
			</li>

		{% else %}
			<li>
				<a href="{{ path('ui_register') }}" class="nav-right">Sign up</a>
			</li>

			<li>
				<a href="{{ path('ui_login') }}" class="nav-right" id="Logout">Log in</a>
			</li>
		{% endif %}
	</ul>
</div>
